<div class="conatainer">
    <div class="row">
        <div class="mx-auto coll-11 sm-10 col-lg-8 col-xl-6">
            <h1>welcome to
            <i class="fas fa-book"></i>
            Bookers !!
            </h1>
            <p>In
            <i class="fas fa-book"></i>
            books
            </p>
            <p>you can share and exchange your opinions , inpressions , and emotions</p>
            <p>about various books!</p>
            <div class="btn-wrapper col-10 mx-auto">
                <div class="row">
                    <button type="button" class="btn btn-primary btn-lg btn-block">
                        <%= link_to "log In", new_user_session_path %>
                    </button>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-primary btn-lg btn-block">
                         <%= link_to "sign Up", new_user_registration_path %>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>